@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400&family=Source+Serif+4:wght@600&display=swap');

section {
    padding-top: 100px;
    height: 1080px;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 31px;
    font-family: 'Source Serif 4', sans-serif;
}

body {
    background-color: rgb(2, 13, 44);
    font-family: 'Roboto Mono', monospace;
}

#header {
    padding: 0;

    .header_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        background-color: black;
        padding: 0 50px;

        nav {

            ul {
                display: flex;
                gap: 70px;

                li {
                    font-size: 22px;
                }
            }
        }
    }

    .header_content {
        display: flex;
        justify-content: center;
        gap: 90px;
        margin-top: 310px;

        .header_content_presentation {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 600px;

            p {
                font-size: 27px;
                line-height: 50px;
            }
        }

        img {
            height: 370px;
        }
    }
}

#project {


    h2 {
        padding: 0 0 0 175px;

        span {
            text-decoration: underline;
        }
    }

    .project_card {
        display: flex;
        justify-content: center;
        padding-top: 100px;

        .project_card_content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 80px;
            width: 1580px;
    
            .card {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 204px;
                width: 310px;
                height: 540px;
                background-color: black;
                background-image: url(Asset/anime-girl-png-tumblr-9.png);
                background-repeat: no-repeat;
                background-size: 318px;
                border-radius: 8px;

                .card_text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 20px;
                    padding: 20px;

                    p {
                        width: 138px;
                        text-align: end;
                    }

                    h3 {
                        width: 150px;
                        text-align: end;
                    }
                }

                .card_repo {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 30px;
                    width: 100%;

                    img {
                        height: 103px;
                    }
    
                    button {
                        border: none;
                        padding: 10px 30px;
                        background-color: #db485d;
                        color: white;
                        border-radius: 15px;
                        cursor: pointer;
                    }

                    button:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}